<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>最新消息後台管理</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="/js/vue.js"></script>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        .news{
            display: flex;
            flex-direction: column;
            width:80%;
            margin:40px auto;

        }
        .news > a{
            text-align: center;
            background-color: #222;
            text-decoration: none;
            width:150px;
            min-height: 45px;
            line-height: 45px;
            display: block;
            color:#fff;
            font-weight: 600;
            margin:auto;
            margin-bottom: 30px;
        }
        .news .list{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px #ccc solid;
            padding: 10px 0;
        }
        .news .list img{
            min-width:220px;
            height: 150px;
            object-fit: cover;
        }
        .news .list .content{
            display: flex;
            flex-direction: column;
            padding: 15px;
            width:600px;
        }
        .btnbox{
            display: flex;
            flex-direction: column;
        }
        .btnbox a, .btnbox button {
            min-width:100px;
            height: 35px;
            display: block;
            border:none;
            outline: none;
            background-color: #14844c;
            text-align: center;
            line-height: 35px;
            color:#fff;
            text-decoration: none;
            margin:5px 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="news">
            <a href="/newsCreate">新增公告</a>
            <div class="list" v-for="item in newsdata.value" :key="item.id">
                <img src="/images/a.jpg" alt="">
                <div class="content">
                    <h4>{{item.title}}</h4>
                    <p class="content">{{item.content}}</p>
                </div>
                <div class="btnbox">
                    <button @click="updateFn" :value="item.id">編輯</a>
                    <button @click="deleteFn" :value="item.id">刪除</button>
                </div>
            </div>
            
        </div>
    </div>

    <script>
        
        const {ref, onMounted, reactive} = Vue;
        const App = {
            setup() {
                let newsdata = reactive([]); 
                onMounted(()=>{
                    axios.get('/newsrouter').then(res=>{
                        newsdata.value = res.data.result;
                    }).catch(err=>{
                        console.log(err);
                    })
                })
                const updateFn = (e)=>{
                    window.location.href = `/newsUpdate?id=${e.target.value}`;
                }
                const deleteFn = (e)=>{
                    let checkDelete = confirm("確定要刪除嗎?");
                    if(checkDelete){
                        axios.delete(`/newsrouter/${e.target.value}`).then(res=>{
                            if(res.status === 204){
                                console.log(res.data);
                            }
                        }).catch(err=>{
                            console.log(err);
                        })
                        window.location.href="/news";
                    }
                    

                }
            return {newsdata, updateFn, deleteFn};
            },
        };
      Vue.createApp(App).mount("#app");
    </script>
</body>
</html>